<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.babel.basedata.mapper.FuncRetryMapper" >
  <resultMap id="BaseResultMap" type="com.babel.basedata.model.FuncRetryPO" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="cid" property="cid" jdbcType="DECIMAL" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="retry_rule_id" property="retryRuleId" jdbcType="DECIMAL" />
    <result column="param_define" property="paramDefine" jdbcType="VARCHAR" />
    <result column="param_json" property="paramJson" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="create_user" property="createUser" jdbcType="DECIMAL" />
    <result column="modify_date" property="modifyDate" jdbcType="TIMESTAMP" />
    <result column="modify_user" property="modifyUser" jdbcType="DECIMAL" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="if_del" property="ifDel" jdbcType="INTEGER" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbggenerated
    -->
    cid, code, name, retry_rule_id, param_define, param_json, create_date, create_user, 
    modify_date, modify_user, status, if_del, remark
  </sql>
</mapper>