<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.babel.basedata.mapper.ThreadPoolMapper" >
    <resultMap id="BaseResultMap" type="com.babel.basedata.model.ThreadPoolPO" >
    <!--
      WARNING - @mbggenerated
    -->
		<id column="cid" property="cid" jdbcType="DECIMAL" />
		<result column="sys_type" property="sysType" jdbcType="VARCHAR" />
		<result column="thread_type" property="threadType" jdbcType="INTEGER" />
		<result column="code" property="code" jdbcType="VARCHAR" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="core_pool_size" property="corePoolSize" jdbcType="INTEGER" />
		<result column="max_pool_size" property="maxPoolSize" jdbcType="INTEGER" />
		<result column="queue_capacity" property="queueCapacity" jdbcType="INTEGER" />
		<result column="keep_alive_seconds" property="keepAliveSeconds" jdbcType="INTEGER" />
		<result column="allow_core_thread_time_out" property="allowCoreThreadTimeOut" jdbcType="INTEGER" />
		<result column="last_error" property="lastError" jdbcType="VARCHAR" />
		<result column="last_error_date" property="lastErrorDate" jdbcType="TIMESTAMP" />
		<result column="last_error_count" property="lastErrorCount" jdbcType="INTEGER" />
		<result column="last_error_first_date" property="lastErrorFirstDate" jdbcType="TIMESTAMP" />
		<result column="if_del" property="ifDel" jdbcType="INTEGER" />
		<result column="status" property="status" jdbcType="INTEGER" />
		<result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
		<result column="create_user" property="createUser" jdbcType="DECIMAL" />
		<result column="modify_date" property="modifyDate" jdbcType="TIMESTAMP" />
		<result column="modify_user" property="modifyUser" jdbcType="DECIMAL" />
		<result column="remark" property="remark" jdbcType="VARCHAR" />
	</resultMap>
  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbggenerated
    -->
    cid, sys_type, thread_type, code, name, core_pool_size, max_pool_size, queue_capacity, keep_alive_seconds, allow_core_thread_time_out, last_error, last_error_date, last_error_count, last_error_first_date, if_del, status, create_date, create_user, modify_date, modify_user, remark
  </sql>
  
  <sql id="findThreadPoolListByPage_Where_Clause" >
  		where if_del=0
		<if test="param.sysType!=null"> 
  			and sys_type=#{param.sysType}
  		</if>
		<if test="param.threadType!=null"> 
  			and thread_type=#{param.threadType}
  		</if>
		<if test="param.code!=null"> 
  			and code=#{param.code}
  		</if>
		<if test="param.name!=null"> 
  			and name=#{param.name}
  		</if>
		<if test="param.status!=null"> 
  			and status=#{param.status}
  		</if>
  		
  		<!--
  		<if test="param.name!=null">
  			and (name_cn like CONCAT('%',#{param.nameCn},'%') and name_en like CONCAT('%',#{param.nameCn},'%'))
  			and (name like #{param.name} or name like #{param.name})
  		</if>
  		-->
  </sql>
  
  <select id="findThreadPoolListByPage"  resultMap="BaseResultMap">
  	 select 
    <include refid="Base_Column_List" />
    from tf_thread_pool
    <include refid="findThreadPoolListByPage_Where_Clause" />
     limit #{page.pageBegin} , #{page.pageSize}
    
  </select>
  
  <select id="findThreadPoolListByPageCount" resultType="int" >
  	select count(*) from tf_thread_pool
  	 <include refid="findThreadPoolListByPage_Where_Clause" />
  </select>
</mapper>